mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 100;
    background: #f7f7f7;
    

}

ul li {
    list-style: none;
}

button {
    outline: none;
    border: 0;
    background: transparent;
}
.image-button h6 {
    margin-left: 5px;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
}
    


.image-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.image-button:hover {
    padding: 8px;
    border-radius: 10px;
    background-color: darkred;
}

.profile-image {
    width: 28px;
    height: 28px;
    border-radius: 50px;   
}

::ng-deep .mat-menu-content {
    width: 160px;
}

.mat-toolbar.maroon-theme {
    background-color: maroon;
    

}


.mat-toolbar-row {
    justify-content: space-between;
}

.toolbar-right {
    display: flex;
    align-items: center;
}

.toolbar-right {
    display: block;
    justify-content: center;
    margin-right: 10px;
}