/* Center the personal details */
.details {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  color: black;
}

/* Title Styling */
.title {
  color: maroon;
  font-size: 28px;
  margin-bottom: 20px;
}

/* Divider Styling */
.custom-divider {
  margin-bottom: 20px;
}

/* Form field settings */
.inp-field {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 15px;
  column-gap: 40px;
  text-align: left;
}

/* Label Styling */
.form-label {
  color: black;
  font-weight: bold;
  text-align: left;
}

/* Colon between label and value */
.colan {
  color: black;
  font-weight: bold;
  margin-right: 5px;
}

/* User data */
.form-name {
  font-weight: 500;
  color: #555;
}

/* Individual field layout */
.field {
  display: flex;
  align-items: center;
}

/* Centering the button container */
.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* Button Styling */
.btn-maroon {
  background-color: maroon;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn-maroon:hover {
  background-color: darkred;
}