<div class="adduser">


        <div class="container p-2">
            <form class="genrealInfo" #genrealInfoData="ngForm" (submit)="updateEmpStatus(genrealInfoData.value)" >
                <div class="inp-row">
                    <h2 class="title mb-3">Employment status</h2>
                    <div class="inp-field">
                        <div class="inp">
                            <label class="form-label">Employment status</label>
                            <input type="text" class="form-control" id="employmentStatusName" ngModel="" required name="employmentStatusName"  [(ngModel)]="jobData.employmentStatusName"
                                #employmentStatusName="ngModel" pattern="^[A-Za-z]+$" [ngClass]="{'invalid': employmentStatusName.invalid && (employmentStatusName.dirty || employmentStatusName.touched), 'valid': employmentStatusName.valid && (employmentStatusName.dirty ||
                                            employmentStatusName.touched)}">

                            <div *ngIf="employmentStatusName.invalid && (employmentStatusName.dirty || employmentStatusName.touched)" class="error-message">
                                <span *ngIf="employmentStatusName.errors?.['required']">Please enter employment status</span>
                                <span *ngIf="employmentStatusName.errors?.['pattern']">Please enter only alphabets</span>
                            </div>
                        </div>

                    </div>

                    <div class="col text-end suv-btn">
                        <button class="btn btn-maroon" (click)="dismissDialogBox()">Cancel</button>
                        <button class="btn btn-maroon" type="submit">Submit</button>
                    </div>


                    <div>


                    </div>

                </div>
            </form>
        </div>




</div>
