<div class="container-fluid g-0">
    <app-header> </app-header>
    <main>
        <app-sidenav (toggle)="onToggleSidebar($event)"></app-sidenav>
        <div class="display-area" [ngClass]="{'expanded': isSidebarExpanded, 'collapsed': !isSidebarExpanded}">
            <div *ngIf="successMessage" class="success-message">
                {{ successMessage }}
                <mat-icon class="close-icon" (click)="dismissSuccessMessage()">close</mat-icon>
            </div>
            <div *ngIf="errorMessage" class="error-message-notification">
                {{ errorMessage }}
                <mat-icon class="close-icon" (click)="dismissErrorMessage()">close</mat-icon>
            </div>
            <div class="card" *ngIf="isLoggedIn?.role !=='ROLE_USER'">
                <div class="container p-2">
                    <h2 class="title mb-3">Employees</h2>
                    <form class="teamForm" #teamForm="ngForm">
                        <div class="inp-row">
                            <div *ngFor="let user of users">
                                <label>
                                    <input type="checkbox" [value]="user.userId"
                                        [checked]="selectedUserIds.includes(user.userId)"
                                        (change)="onUserSelection($event, user.userId)" />
                                    {{ user.firstName }} {{ user.lastName }}
                                </label>
                            </div>
                            <label>
                                <input type="checkbox" [checked]="areAllUsersSelected" (change)="onSelectAll($event)" />
                                Select All
                            </label>
                        </div>

                        <div>
                            <div class="col text-end suv-btn">
                                <button class="btn btn-maroon" type="reset">Reset</button>
                                <button class="btn btn-maroon" id="sub" type="submit" [disabled]="!teamForm.valid"
                                    (click)="assignEmploye()">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>