.container-fluid {
  overflow: hidden;
}

.app-header {
  z-index: -1;
}

.display-area {
  /* border: 1px solid black; */
  overflow: hidden;
  /* Prevent scrolling */
  transition: margin 0.3s ease;
  /* Optional: Add transition for smooth animation */
}

.expanded {
  margin-left: 80px;
  margin-right: 20px;
  /* Adjust based on your sidebar width */
}

.collapsed {
  margin-left: 270px;
  margin-right: 20px;
  /* Adjust based on your collapsed sidebar width */
}







h2.title {
  margin-top: 20px;
  font-size: 28px;
  text-align: left;
  color: maroon;
}



.btn-maroon {
  background-color: maroon;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 20px;
}

.btn-maroon:hover {
  background-color: darkred;
}


.error-message.mandatory {
  color: red;
  text-align: left;
}


/*Button CSS */

.button {
  margin: 10px 10px;
  margin-bottom: 0px;
}

.btn-add {
  background-color: maroon;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}



/* table CSS */

.cardd {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  margin: 20px auto;
  width: 100%;
}


/* Input field styling */
input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.input-box {
  width: 30% !important;
  margin-bottom: 10px !important;
}

input[type="text"]:focus {
  border-color: black;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}



th,
td {
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th.center,
td.center {
  text-align: left;
  cursor: pointer;
}

.table-row:hover {
  background-color: rgb(255, 235, 235);
}

th.center{text-align: center;}



.icon-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icon-space {
  width: 10px;
}

.loading-bar {
  margin: 20px 0;
  text-align: center;
}

.load-button {
  text-align: center;
  margin-top: 20px;
}

.load-button button {
  background-color: maroon;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.load-button button:hover {
  background-color: darkred;
  transform: scale(1.05);
}

.load-button button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(128, 0, 0, 0.5);
}



/* Responsive design */
@media (max-width: 768px) {
  .inp-field {
    flex-direction: column;
  }

  .inp {
    width: 100%;
  }

  .btn-maroon {
    width: 100%;
    margin-top: 10px;
  }
}