
<div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
    <mat-icon class="close-icon" (click)="dismissSuccessMessage()">close</mat-icon>
  </div>
  
  <div *ngIf="errorMessage" class="error-message-notification">
    <mat-icon class="close-icon" (click)="dismissErrorMessage()">close</mat-icon>
    {{ errorMessage }}
  </div>
  
  <div class="editdept">
    <div class="card">
      <div class="">
        <div class="container p-2">
          <form class="editdeptform" #editForm="ngForm" (submit)="saveEditedData(editForm.value)">
            <div *ngIf="isLoading" class="loading">
              Loading department details...
            </div>
            <div *ngIf="!isLoading">
              <div class="imp-row">
                <h2 class="title mb-3">Edit Department</h2>
                    <span class="close" (click)="dismissDialogBox()">&times;</span>
                <div class="inp-field">
                  <!-- <div class="inp">
                    <label class="form-label">Select field to edit</label>
                    <select class="form-select" id="select-field" (change)="onFieldSelect($event)">
                      <option selected [disabled]="true">Select</option>
                      <option value="deptName">Department Name</option>
                    </select>
                  </div> -->
                </div>
              </div>
              <div class="inp-row" >
                <div class="inp-field">
                  <div class="inp">
                    <label class="form-label">New Department Name</label>
                    <input type="text" class="form-control" [(ngModel)]="u.deptName" ngModel required
                      placeholder="Department Name" name="deptName" #deptName="ngModel"
                      pattern="^[A-Za-z]+$"
                      [ngClass]="{
                        'invalid': deptName.invalid && (deptName.dirty || deptName.touched), 
                        'valid': deptName.valid && (deptName.dirty || deptName.touched)
                      }" />
                    <div *ngIf="deptName.invalid && (deptName.dirty || deptName.touched)" class="error-message">
                      <span *ngIf="deptName.errors?.['required']">Please enter Department Name</span>
                      <span *ngIf="deptName.errors?.['pattern']">Please enter only alphabets</span>
                    </div>
                    <div *ngIf="isSameDeptName()" class="error-message">
                      <span>Entered Department Name is the same as the current Department Name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col text-end suv-btn">
                <button type="submit" class="btn btn-maroon" [disabled]="!editForm.valid || isSameDeptName()">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  