<div class="sidebar-container" [ngClass]="{ 'collapsed': isExpanded }">
    
    <mat-nav-list class="sidebar">
        <div class="logo py-4" [style.padding-bottom.px]="isExpanded ? 25 : 10">
            <img src="./assets/images/logo.png" alt="Company Logo" />
            <span matSubheader class="header mt-2" *ngIf="!isExpanded">QDTASHRM</span>
        </div>
        <mat-divider></mat-divider>

  

        <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashBoard" class="sidebar-link">
            <mat-icon>dashboard_customize</mat-icon> <span class="ml-2">Dashboard</span>
        </a>

        <a mat-list-item routerLinkActive="list-item-active" routerLink="/users" class="sidebar-link">
            <mat-icon>account_circle</mat-icon> <span class="ml-2">Users</span>
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/leave" class="sidebar-link">
            <mat-icon>calendar_today</mat-icon> <span class="ml-2">Leave</span>
        </a>

        <a mat-list-item routerLinkActive="list-item-active" routerLink="/time" class="sidebar-link">
            <mat-icon>access_time</mat-icon> <span class="ml-2">Time</span>
        </a>
        
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/recruitment" class="sidebar-link">
            <mat-icon>person_search</mat-icon> <span class="ml-2">Recruitment</span>
        </a>

        <a mat-list-item routerLinkActive="list-item-active" routerLink="/project" class="sidebar-link">
            <mat-icon>assessment</mat-icon> <span class="ml-2">Projects</span>
        </a>

        <a mat-list-item routerLinkActive="list-item-active" routerLink="/department" class="sidebar-link">
            <mat-icon>group</mat-icon> <span class="ml-2">Department</span>
        </a>

        <a mat-list-item routerLinkActive="list-item-active" routerLink="/employee-details" class="sidebar-link">
            <mat-icon>person</mat-icon> <span class="ml-2">Employee Details</span>
        </a>
     

        <a mat-list-item routerLinkActive="list-item-active" routerLink="/myinfo" class="sidebar-link">
            <mat-icon>info</mat-icon> <span class="ml-2">My Info</span>
        </a>

       
    </mat-nav-list>
   
        <button class="toggle-button" (click)="toggleSidebar()">
            <mat-icon>{{ isExpanded ? 'arrow_forward' : 'arrow_back' }}</mat-icon>
        </button>
</div>