 .container {
     margin-top: 10px;
     display: inline-block;
 }


 .dropdown {
     margin-right: 20px;
 }

 .btn-secondary {
     background-color: white;
     color: black;
     border-radius: 10px;
 }

 .btn-secondary:hover {
     background-color: maroon;
     color: white;
 }

 .dropdown-item {
     margin: 0px;

 }

 .dropdown-item:hover {
     background-color: maroon;
     color: white;
 }

 .active-dropdown-item {
     background-color: maroon;
     color: white;
 }