/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f6f6f6; }


.success-message {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 500px;
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}



.error-message-notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 500px;
    background-color: red;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.error-message {
    color: red;
    font-size: 12px;
    font: bold 14px Arial, sans-serif;
    font-weight: lighter;
    /* Makes the text lighter (less bold) */
    margin-top: 3px;
}


.close-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}